@font-face {
  font-family: tradeWinds;
  src: url('./assets/trade-winds.ttf');
}
:root {
  --card-width: min(80vw, calc(80vh - 104px) * (269 / 367));
  --card-height: calc(var(--card-width) * (367 / 269) * 1.03);
  --offset-top: max(0px, 60vh - calc(var(--card-height)));
  --nav-height: 48px;
  --foot-height: 56px;
}
body { 
  margin: 0;
  height: 100%;
  width: 100%;
  background: #091e21;
  padding-top: calc(var(--nav-height) + 12px);
  padding-bottom: var(--foot-height);

  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
}
cardScroller {
  display: block;
  width: 100vw;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: var(--offset-top);
  height: calc(var(--card-height) + 100px);
}
body.editing cardScroller {
  user-select: none;
  pointer-events: none;
}
body:not(.editing) cardList.deck card canvas {
  pointer-events: none;
}
cardScroller.deck > cardList.library, cardScroller.library > cardList.deck {
  display: none;
}
cardScroller::-webkit-scrollbar {
  display: none;
}
cardList {
  display: inline-flex;
  padding: 0 50%;
  height: 100%;
}
card, purchase, import {
  position: relative;
  width:var(--card-width);
  height: var(--card-height);
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: black;
  border-radius: 3.8%;
  margin: 0 min(2vw, 20px);
  scroll-snap-align: center;
}
purchase, import {
  height:var(--card-width);
  border-radius: 0;
  margin-top: calc((var(--card-height) - var(--card-width)) * 0.25);
}
purchase label, import label, purchase.bought::after {
  position: absolute;
  bottom: 10%;
  box-sizing: border-box;
  width: 100%;
  padding: 24px;
  background: rgba(0,0,0,0.9);
  font-family: 'tradeWinds';
  text-align: center;
  font-size: 20px;
}
purchase.bought label {
  display: none;
}
purchase.bought::after {
  content: 'Already Owned';
}
import {
  background-image: url('./assets/cardpacks/import.jpg');
}
purchase[uid="Lostwood Enclave"] {
  background-image: url('./assets/cardpacks/Lostwood-Enclave-Faction-Set.jpg');
}
purchase[uid="Temple of Justice"] {
  background-image: url('./assets/cardpacks/Temple-of-Justice-Faction-Set.jpg');
}
purchase[uid="Battle Pigs"] {
  background-image: url('./assets/cardpacks/Battle-Pig-Faction-Set.jpg');
}
purchase[uid="Adventurer Gear"] {
  background-image: url('./assets/cardpacks/Adventure-Gear.jpg');
}
purchase[uid="The Lone Guard"] {
  background-image: url('./assets/cardpacks/Lone-Guard-Faction-Set.jpg');
}
purchase[uid="Bone and Darkness"] {
  background-image: url('./assets/cardpacks/Bone-and-Darkness-Faction-Set.jpg');
}
purchase[uid="The Wilderkin"] {
  background-image: url('./assets/cardpacks/Wilderkin-Faction-Set.jpg');
}
purchase[uid="Wretched Hive"] {
  background-image: url('./assets/cardpacks/Wretched-Hive-Faction-Set.jpg');
}
purchase[uid="Moldorf Expedition"] {
  background-image: url('./assets/cardpacks/moldorf-expedition-faction-set.jpg');
}
purchase[uid="Apostels of the Deep"] {
  background-image: url('./assets/cardpacks/apostels-of-the-deep.jpg');
}
purchase[uid="Kingdoms of Akadh"] {
  background-image: url('./assets/cardpacks/Kingdoms-of-Akadhk.jpeg');
}
purchase[uid="Relics of the Volge"] {
  background-image: url('./assets/cardpacks/Relics-of-the-volge.jpg');
}
purchase[uid="Storms of Kural"] {
  background-image: url('./assets/cardpacks/Storms-of-Kural.jpg');
}
purchase[uid="Singular Champions 1"] {
  background-image: url('./assets/cardpacks/Singular-Champions-1.jpg');
}
purchase[uid="Singular Champions 2"] {
  background-image: url('./assets/cardpacks/Singular-Champions-2.jpg');
}
purchase[uid="Singular Champions 3"] {
  background-image: url('./assets/cardpacks/Singular-Champions-3.jpg');
}
purchase[uid="Singular Champions 4"] {
  background-image: url('./assets/cardpacks/Singular-Champions-4.jpg');
}
card.inactive, purchase.inactive {
  display: none;
}
body.editing card {
  pointer-events: all;
}
card canvas {
  position: relative;
  top:0px;
  left:0px;
  width:100%;
  height: 100%;
}
nav {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: var(--nav-height);
  background: #020607;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
call {
  display: inline-block;
  position: relative;
  margin-left: 12px;
  font-size: 20px;
  font-family: tradeWinds;
}
ham {
  position: relative;
  margin-right: 5px;
  width: 44px;
  box-sizing: border-box;
  height:100%;
  background: url('./assets/ham.png');
  background-size: 34px auto;
  background-position: center;
  background-repeat: no-repeat;
}

cardScroller.library ~ cardControls cardControl.deck,
cardScroller.deck ~ cardControls cardControl.library,
cardScroller.library ~ cardTabControls cardControl.deck,
cardScroller.deck ~ cardTabControls cardControl.library,
body.editing cardTabControls cardControl.deck,
body:not(.editing) cardTabControls cardControl.editing {
  display: none;
}

cardTabControls {
  display: flex;
  position: absolute;
  top: calc(var(--offset-top) + 76px);
  left: calc(50vw + var(--card-width) * 0.5 - min(6vh, 80px) + 34px);
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  /* pointer-events: none; */
}
cardTabControls cardControl {
  position: relative;
  width: min(6vh, 80px);
  height: min(6vh, 80px);
  margin-bottom: 12px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./assets/controlBack.png');
}
cardTabControls cardControl::before {
  content:'';
  display:block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
cardTabControls cardControl.edit {
  margin-top: 32px;
}
cardTabControls cardControl.edit::before {
  background-image: url('./assets/edit.png');
  background-size: 60%;
}
cardTabControls cardControl.end::before {
  background-image: url('./assets/end.png');
}
cardTabControls cardControl.erase {
  margin-bottom: 32px;
}
cardTabControls cardControl.erase::before {
  background-image: url('./assets/erase.png');
  background-size: 60%;
}
cardTabControls cardControl.shiftUp::before {
  background-image: url('./assets/left.png');
}
cardTabControls cardControl.shiftDown::before {
  background-image: url('./assets/right.png');
}
cardTabControls cardControl.destroy {
  margin-bottom: 48px;
}
cardTabControls cardControl.destroy::before {
  background-image: url('./assets/destroy.png');
}

cardTabControls cardControl.filterAdvocate::before,
cardTabControls cardControl.filterAdversary::before,
cardTabControls cardControl.filterNeutral::before,
cardTabControls cardControl.filterUpgrade::before,
cardTabControls cardControl.filterRelic::before,
cardTabControls cardControl.filterShop::before {
  content: 'U';
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'tradeWinds';
  font-size: 20px;
  padding-top: 4px;
}
cardControl.filterAdvocate,
cardControl.filterAdversary,
cardControl.filterNeutral,
cardControl.filterUpgrade,
cardControl.filterRelic,
cardControl.filterShop {
    filter: contrast(0.75) invert(1);
}
cardControl.inactive {
  filter: contrast(0.55);
}

cardTabControls cardControl.filterAdvocate::before {
  content: 'G';
}
cardTabControls cardControl.filterAdversary::before {
  content: 'E';
}
cardTabControls cardControl.filterNeutral::before {
  content: 'N';
}
cardTabControls cardControl.filterRelic::before {
  content: 'R';
}
cardTabControls cardControl.filterShop::before {
  font-size: 30px;
  content: '$';
}


cardControls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  position: absolute;
  text-align: center;
  top: calc(var(--nav-height) + var(--card-height) + var(--offset-top) + 20px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

cardControls cardControl {
  position: relative;
  display: flex;
  grid-column: 2;
  background: url(./assets/add-remove.png);
  height: min(128px, 17vh);
  width: min(128px, 17vh);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  align-content: flex-end;
  justify-content: center;
  padding: calc(min(128px, 17vh) * 0.12);
  font-family: 'tradeWinds';
  font-size: min(16px, calc(8px + 1vh));
  align-items: center;
  padding-top: 67px;
}
cardControls cardControl::before {
  content:'+';
  position: absolute;
  top:35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
}

cardControls cardControl.removeFromDeck::before {
  content:'-';
}
cardControls.searched cardControl.search,
cardControls:not(.searched) cardControl.clearSearch {
  display: none;
}
cardControls cardControl.search {
  grid-column: 3;
}
cardControls cardControl.search::before,
cardControls cardControl.clearSearch::before {
  content:'';
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background: url('./assets/search.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

cardControls cardControl.clearSearch::before {
  background-image: url('./assets/searchCancel.png');
}
cardControls cardControl.clearSearch {
  grid-column: 3;
}

foot {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: var(--foot-height);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
foot cardControl {
  display: inline-block;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: #020607;
  font-family: 'tradeWinds';
}
cardScroller.library ~ foot cardControl.showLibrary, 
cardScroller.deck ~ foot cardControl.showDeck {
    background: #0206072F;
}

helpOverlay {
  display: flex;
  position: relative;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  opacity: 1;
  transition: opacity 0.2s;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
helpMedalion {
  width: 50%;
  padding-top: 50%;
  display: block;
  background: url('./assets/ham.png');
  background-size: min(100%, 200px);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 32px;
}
helpOverlay a {
  color: #fff;
}
helpOverlay.hidden {
  opacity: 0;
  pointer-events: none;
}
toast {
  position: absolute;
  top: 50%;
  height: min(128px, 17vh);
  width: calc(min(128px, 17vh) * 3);
  left:  50%;
  transform: translate(-50%, -50%);
  background: url('./assets/toastBack.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  opacity: 0;
  transition: opacity 0.4s;
  pointer-events: none;
  user-select: none;
  font-family: 'tradeWinds';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

@keyframes loadingSpin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
loading {
  display: block;
  position: absolute;
  top:50%;
  left: 50%;
  width: 35vw;
  height: 35vw;
  
  animation: loadingSpin 3s infinite linear;
  border-radius: 50%;
  border: 12px solid #0000;
  border-top-color: #fff;
  border-bottom-color: #fff1;
}
overlayMenu, loadingOverlay {
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: opacity 0.2s;
  user-select: none;
}
loadingOverlay {
  pointer-events: all;
}
overlayMenu.hidden, body:not(.loading) loadingOverlay {
  opacity: 0;
  pointer-events: none;
}
label input {
  display: none;
}
menuControl, .menuControl {
  display: block;
  font-size: 24px;
  font-family: 'tradeWinds';
  margin-top:24px;
  text-decoration: underline;
}